.logo {
    width: 150px;
    height: 20px;
    background-color: #000DFF;
    position: absolute;
    top: 75px;
    margin-left: 100px;
}

.buttonWork {
    font-family: sans-serif;
    background-color: White;
    padding: 10px 30px;
    border-radius: 20px;
    position: absolute;
    top: 50px;
    right: 340px;
}

.buttonAbout {
    font-family: sans-serif;
    background-color: White;
    padding: 10px 30px;
    border-radius: 20px;
    position: absolute;
    top: 50px;
    right: 218px;
}

.buttonContact {
    font-family: sans-serif;
    background-color: White;
    padding: 10px 30px;
    border-radius: 20px;
    position: absolute;
    top: 50px;
    right: 85px;
}

.aboutPage img {
    width: 500px;
    height: 500px;
    margin-top: 350px;
    margin-left: 150px;
}

.blueSection {
    width: 500px;
    height: 1700px;
    margin-top: -250px;
    margin-left: 150px;
    background-color: #000DFF;    
}

.blueExperience {
    color: white;
    margin-left: 50px;
}

.blueEducation {
    color: white;
    margin-left: 50px;
}

.blueTravel {
    color: white;
    margin-left: 50px;
}

.row {
    display: flex;
}

.inline-text {
    font-size: 22px;
    margin-top: 600px;
    margin-left: 100px;
    margin-right: 100px;
}

h1 {
    font-family: sans-serif;
    font-size: 32px;
}

.skillButtons {
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    background-color: #000DFF;
    padding: 20px 50px;
    border-radius: 20px;
    display: inline-flex;
    margin: 10px;
}

.footerEmail {
    font-family: sans-serif;
    font-size: 28px;
    font-style: bold;
    margin-top: 200px;
    margin-left: 100px;
    position: absolute;
}

.letsGetinTouch {
    font-family: sans-serif;
    font-size: 18px;
    font-style: bold;
    margin-top: 250px;
    margin-left: 100px;
    position: absolute;
}

